@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "sans-serif";
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.blue-shadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.blue-shadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}
